.version.index /* version checker */
{
	color: #0000ED;
	background-color: #C59357;
}

.html
{
	background-color: #210002;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1361px;
	padding-bottom: 39px;
	margin-left: auto;
	margin-right: auto;
}

#pu138
{
	width: 0.01px;
	padding-bottom: 703px;
	margin-right: -10000px;
	margin-top: -39px;
	margin-left: -101px;
}

#u138
{
	z-index: 2;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #FFFFFF url("../images/parallax0.jpg") no-repeat center center;
	background-size: cover;
}

#u138-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u145
{
	z-index: 3;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax1.png") no-repeat center center;
	background-size: cover;
}

#u145-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u152
{
	z-index: 4;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax2.png") no-repeat center center;
	background-size: cover;
}

#u152-bw
{
	z-index: 4;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u159
{
	z-index: 5;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax3.png") no-repeat center center;
	background-size: cover;
}

#u159-bw
{
	z-index: 5;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u166
{
	z-index: 6;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax4.png") no-repeat center center;
	background-size: cover;
}

#u166-bw
{
	z-index: 6;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u173
{
	z-index: 7;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax5.png") no-repeat center center;
	background-size: cover;
}

#u173-bw
{
	z-index: 7;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u180
{
	z-index: 8;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax6.png") no-repeat center center;
	background-size: cover;
}

#u180-bw
{
	z-index: 8;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u187
{
	z-index: 9;
	height: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/parallax7.png") no-repeat center center;
	background-size: cover;
}

#u187-bw
{
	z-index: 9;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -39px;
}

#u194
{
	z-index: 10;
	width: 1400px;
	height: 700px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: -39px;
	left: -101px;
	background: transparent url("../images/parallax8.png") no-repeat center center;
	background-size: cover;
}

#u208
{
	z-index: 11;
	height: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #210002;
}

#u208-bw
{
	z-index: 11;
	margin-top: 661px;
	height: 700px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

